<h1><%= @list.name %></h1>
<ol>
<% @list.bookmarks.each do |bookmark| %>
  <li>
  <strong><%="#{Movie.find(bookmark.movie_id).title}"%></strong> - "<%="#{bookmark.comment}" %>"
  <%= link_to bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "This action will delete this Bookmark. Are you sure?"} do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  </li>
  <% end %>
</ol>

<h2>Comments:</h2>
<div class="cards">
  <% @list.comments.each do |comment| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-body-secondary"><%= ("â­" * comment.rating) %></h6>
      <p class="card-text"><%= comment.content %></p>
    </div>
  </div>
  <% end %>
</div>

<%= simple_form_for [@list, @comment] do |c| %>
  <%= c.input :content %>
  <%= c.input :rating %>
  <%= c.submit %>
<% end %>
<br>
<p><%= link_to "Add Movie to Playlist", new_list_bookmark_path(@list), class:"btn btn-primary" %></p>
<p><%= link_to "Home", lists_path, class:"btn btn-secondary"  %></p>
