<h1><%= @list.name %></h1>
<ul>
<% @list.bookmarks.each do |bookmark| %>
  <li>
  <%= bookmark.comment %>
  <%= link_to bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "This action will delete this Bookmark. Are you sure?"} do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  </li>
  <% end %>
</ul>


<%= link_to "Add a new Bookmark", new_list_bookmark_path(@list), class:"btn btn-primary" %>
<%= link_to "back to home", lists_path, class:"btn btn-secondary"  %>


<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("mvlhqbcqfi0mybii27bw",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("obr5rkstzxtgdti2nopx",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<br>

<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<br><br>

<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')"
>
  Cool article
</div>
