<h1>New Bookmarks</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>


<%= link_to "back to list", list_path(params[:list_id]) %>
<%= link_to "back to home", lists_path, class:"btn btn-secondary"  %>
